<!DOCTYPE html>
<html>
<head>
	<title>Carclassifier</title>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cover.css') }}">
</head>
<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

    <header class="masthead mb-auto">
          <h4>Carclassifier</h4>
  	</header>

	<main role="main" class="inner cover">

	<h2>Enter opinion about your car:</h2>
	<p class="lead">(opinion must contain at least 2 characters and be written in Polish)</p>

	{% from "_formhelpers.html" import render_field %}

	<form method=post action="/results">
		<dl>
			{{ render_field(form.carreview, cols='30', rows='5', placeholder='np. Samochód jest niezły :)') }}
		</dl>
		<input type=submit value='Submit review' name='submit_btn' class="btn btn-lg btn-secondary">
	</form>

	</main>

	<footer class="mastfoot mt-auto">
		<div class="inner">
		  <p>See code on <a href="https://github.com/PawelSzczerbiak/carclassifier">GitHub</a></p>
		</div>
	</footer>
   </div>	

</body>
</html>