<!DOCTYPE html>
<html>
<head>
	<title>Carclassifier</title>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cover.css') }}">
</head>
<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

    <header class="masthead mb-auto">
          <h4>Carclassifier</h4>
      </header>

      <main role="main" class="inner cover">

		<h2>Thank you for your feedback!</h3>
		<p class="lead">Your opinion has been added to our database</p>

 		<p class="lead">		
 		<form action="/">
 			<input type=submit value="Submit another opinion" class="btn btn-lg btn-secondary">
 		</form>
		</p>
		
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>See code on <a href="https://github.com/PawelSzczerbiak/carclassifier">GitHub</a></p>
        </div>
      </footer>
   </div>

</body>
</html>